*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    position: relative;
    background-color: black;
}
.snow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('snow.jpg');
    background-repeat: repeat;
    animation: snow 120s linear infinite;
}
@keyframes snow{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 400em;
    }
}
